.old-price {
  display: grid;
  justify-items: center;
  justify-content: start;
  font-family: 'Poppins';
  font-style: normal;
  color: #94979c;
  font-size: 32.5px;
  &-values {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__rubbles {
    font-weight: 600;
  }
  &__pennies {
    position: relative;
    top: 4px;
    font-weight: 600;
    font-size: 18px;
    vertical-align: super;
  }
  &__rub-sign {
    font-family: 'Arial';
    font-weight: 900;
  }
}
.new-price {
  display: grid;
  justify-items: center;
  justify-content: start;
  font-family: 'Poppins';
  font-style: normal;
  color: #344050;
  font-size: 52.0364px;
  position: relative;
  bottom: 5px;
  &-values {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__rubbles {
    font-weight: 600;
  }
  &__pennies {
    position: relative;
    top: 7px;
    font-weight: 600;
    font-size: 28.9091px;
    vertical-align: super;
  }
  &__rub-sign {
    font-family: 'Arial';
    font-weight: 900;
  }
}

.price__describe {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  color: #6f7885;
  text-transform: uppercase;
}

.price-line {
  position: relative;
  top: -25px;
  height: 0px;
  border-bottom: solid red;
}

.new-price__no-rubbles {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
