.rating-area {
  overflow: hidden;
  width: 265px;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  color: rgb(205, 201, 201);
}
.rating-area:not(:checked) > label:before {
  content: '★';
  font-size: 40px;
}
.rating-area > input:checked ~ label {
  color: #344050;
}

.rate-area > label:active {
  position: relative;
}
