$itemColor: #4d5969;

.goods-wrapper {
  display: grid;
  grid-row-gap: 28px;
}

.goods-header {
  display: flex;
}

.goods-header {
  display: inline-grid;
  width: 96%;
  grid-template-columns: 2fr 19fr 5fr 5fr 3fr;
}

.goods-header__item {
  color: $itemColor;
  font-weight: 600;
  font-size: 13px;
  text-align: left;
}

.controls_wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
}

.go-back-btn {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 253, 253);
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  background-color: #d18605;
  background-size: 200% auto;
}

.no-goods {
  display: grid;
  justify-items: center;
}

.goods-page__header {
  color: #344050;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-top: 60px;
}
