$baseTextColor: #4d5969;
$categoryColor: #9da8ba;

.goods-item {
  display: grid;
  grid-template-columns: 0fr 4fr 3fr;
  align-items: center;
  &__picture {
    width: 60px;
    height: 40px;
  }
  &__describe-block {
    display: grid;
    margin-left: 16px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.65px;
    color: $baseTextColor;
  }
  &__category {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.6px;
    color: $categoryColor;
  }
  &__info {
    position: relative;
    font-size: 14px;
    color: $baseTextColor;
    font-weight: 500;
    display: flex;
    width: 5%;
    &:nth-child(2) {
      left: 8px;
    }
    &:first-child {
      left: 10px;
    }
  }
  &-extra {
    display: flex;
    grid-gap: 31%;
  }
  &__link {
    text-decoration: none;
  }
}
